<nav>
    <div class="d-flex justify-content-center gap-3">
        <a asp-action="Index" asp-controller="User">Chefs</a>
        <p>|</p>
        <a asp-action="AllDishes" asp-controller="Dish" class="Classes">Dishes</a>
        <p>|</p>
        <a asp-action="NewChef" asp-controller="User" class="Classes">Add a Chef</a>
        <p>|</p>
        <a asp-action="NewDish" asp-controller="Dish" class="Classes">Add a Dish</a>
    </div>
</nav>